
/*Page accueil */
body{
	margin: 0;
	font-family: 'Montserrat', sans-serif;

}
header{
	background: #27233E;
	height: 5vw;
}
nav{
	display: flex;
	justify-content: space-between;


}
nav a img{
	width: 5vw;
}

#logo{
	padding-top:0;
}

nav a {
	color: white;
	text-decoration: none;
	padding-top: 2vw;	
	margin-right:10vw;
}

figure {
	margin:0;
}

figure figcaption {
    position:absolute;
    width:47vw;
    height: 23vw;
    background:rgba(255,255,255, 0.7);
    top:13vw;
    left:27vw;
    padding:1vw 1vw 2vw 15px;
}

figure figcaption h1 {
	text-align: center;

}

figure figcaption div {

	padding-top: 1vw;
}

figure figcaption button{
	margin: 1vw 0 0 18vw !important;
	background:#27233E;
	color:white;
	border: none;
	font-size: 20px;

}

#nbrPers input{
	width: 3vw;
	margin-right: 8.3vw;
}



#date input{
	margin-right: 1vw;
}


h2{
	text-align: center;
	font-size: 30px;
	padding: 3vw;	
}

#Carousel{
	display: flex;
	justify-content: space-around;
	margin-bottom: 2vw;
}

section{
	width: 30vw;
}

section img{
	width: 30vw;
}

section h3{
	text-align: center;
}

section button{
	margin: 0 0 2vw 20vw !important;
	background:#27233E;
	color:white;
	border: none;
	font-size: 17px;
}

#Destination{
	display: flex;
	justify-content: space-around;
}

footer{
	background: #27233E;
	height: 5vw;
}

footer li{
	display: flex;
	justify-content: space-around;
}

footer a {
	text-decoration: none ;
	color: white;
	font-size: 20px;
	padding-top:2vw;
}

/*Page recherche */

h1{
	text-align: center;
	margin-top: 2vw !important;
}

#recherche{
	display: flex;
	justify-content: center;

	border-bottom: solid 1px;
}

#recherche input{
	margin:1vw;
}

#recherche button{
	margin: 1vw 0 2vw 18vw !important;
	background:#27233E;
	color:white;
	border: none;
	font-size: 20px;

}

article{
	margin: 2vw 0 3vw 2vw ;
	display: flex  !important;
}


#description{

	width: 40vw;
	margin: 2vw 0 0 10vw;
	display: flex;
	align-items: center;

}

#description button{
	background:#27233E;
	color:white;
	border: none;
	font-size: 20px;
	margin-left: 1vw !important;
}

#etoile{
	display: flex;
	justify-content: center;
}

#etoile i{
	margin:1vw;
}


/* page inscription et connection*/

.inscription, .connexion{
	margin:3vw 0 2vw 3vw;
}

button{
	margin: 2vw 0  3vw 45vw  !important;
	background:#27233E;
	color:white;
	border: none;
	font-size: 20px !important;
	width: 10vw;
	height: 3vw;
}


#profil{
	margin: 5vw 0 2vw 4vw;
}

#profil button{

	margin: 2vw 0 0 40vw !important;
}

.mesBiens{
	display: flex;	
	justify-content: space-around;	
}

.mesBiens a {
	
	color:black;
	margin: 20vw 0 0 10vw !important;
}